/* From Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* For transitions/animations */
.fade-enter-from, .fade-leave-to {
	opacity: 0;
}
.fade-enter-active, .fade-leave-active {
	transition-property: opacity;
	transition-duration: 300ms;
	transition-timing-function: ease-out;
}
.animate-fadein {
	animation-name: fadein;
	animation-duration: 300ms;
	animation-timing-function: ease-in;
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.animate-red-then-fade {
	animation-name: red-then-fade;
	animation-duration: 500ms;
	animation-timing-function: ease-in;
}
@keyframes red-then-fade {
	from {
		background-color: rgba(255,0,0,0.2);
	}
	to {
		background-color: transparent;
	}
}

/* Other */
@font-face {
	font-family: Ubuntu;
	src: url('/font/Ubuntu-Regular.woff2');
}
body {
	font-family: Ubuntu, system-ui, sans-serif;
	touch-action: manipulation; /* Prevents non-standard gestures such as double-tap to zoom */
}
a {
	@apply hover:underline hover:cursor-pointer;
}
